<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>People</title>
</head>
<body>
<div align="center" th:switch="${people}">
    <h2 th:case="null">Пусто</h2>
    <div th:case="*">
        <h2>Данные</h2>
        <table>
            <thead>
            <tr>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Возраст</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="person : ${people}">
                <td th:text="${person.lastName}"></td>
                <td th:text="${person.firstName}"></td>
                <td th:text="${person.patronymic}"></td>
                <td th:text="${person.date}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<br/>
<div align="center">
    <a th:href="@{/}">Вернуться на главную</a>
</div>
</body>
</html>